header {

    // !HEADER STYLES
    background-repeat: no-repeat;
    background-color: #f2f4f3;
    text-transform: uppercase;

    &.mainHeader {
        background: url(./../../../captured-final-assets/header-image.jpg);
        background-repeat: no-repeat;
        background-color: #f2f4f3;
    }



    // !NAV

    nav ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0;
        margin-left: 60vw;
        padding-top: 0 1%;
        // !tried to sticky, didn't work
        // position: sticky;
        // align-self: flex-start;
        // top: 0;
        // overflow-y: auto;
    }

    nav li {
        list-style: none;
        transition: 300ms;
        transition: none;
        border-bottom: solid 7px transparent;
        // !for some reason setting height makes the border-bottom appear on top? very strange
        // height: 1.6rem;

        h4 {
            margin-bottom: 4px;

        }

        a {
            background-color: transparent;
        }

        &:hover,
        &:focus {
            border-bottom: solid 7px $seaGreen;

        }
    }

    // !LOGO
    h1 {
        text-align: center;
        margin-top: 30%;
        z-index: 10;
        position: relative;
    }

    // !RIGHT IMG
    .imgWrapper {
        position: absolute;
        right: 0;
        bottom: 25px;
        z-index: 1;


        img {
            object-fit: cover;
            border-top: 3vw solid $canary;
            border-left: 3vw solid $canary;
            border-bottom: 3vw solid $canary;
            border-right: none;
        }
    }



    // !ABOUT  
    .about {
        background-color: $ice;
        text-align: center;
        padding: 10%;

        .wrapper {
            position: relative;
            z-index: 20;
            background-color: $ice;
            padding-top: .2%;
            border-radius: 20px;
            width: 80vw;
            max-width: 1248px;
            margin: 0 auto;
        }


        p {
            text-transform: none;
            text-align: center;
        }
    }
}