main {

    // !NEW THINGS
    .newThings {
        margin-top: -30px;

        h3 {
            margin-top: 10%;
        }


        .wrapper {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            margin: auto 10%;
        }


        .skills {
            margin: auto 10%
        }

        .gear {
            text-align: right;
            margin: auto 10%
        }
    }

    // !LINKS
    .links {
        .wrapper {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            background-color: $ice;
            padding: 5% 2%;
        }

        p {
            display: inline-block;
            margin: 0 10%;
        }

        i {
            background-color: $seaGreen;
            padding: 1%;
            border-radius: 50%;
            font-size: 1.6rem;
        }

        a {
            background-color: transparent;
            border-bottom: 4px solid transparent;
            padding: 0;

            &:hover,
            &:focus {
                color: $black;
                border-bottom: 4px solid $black;
            }
        }

        &::after {
            content: "";
            background-image: url(./../captured-final-assets/banner.jpg);
            background-size: cover;
            height: 60vh;
            width: 100vw;
            object-fit: fill;
            display: inline-block;
        }
    }

    // !PROFILE
    .profile {
        .wrapper {
            display: flex;
            background-color: $ice;
            padding-top: 5%;
        }

        .imgWrapper {
            margin-left: 3%;
        }


        .textWrapper {
            margin: 0 5% 5% 5%;
        }
    }

    // !GALLERY
    .gallery {
        .wrapper {
            display: flex;
            justify-content: space-evenly;
            margin: 9% auto;
            width: 90vw;
            flex-basis: auto;

            // flex-wrap: wrap;
            .imgWrapper {
                flex-shrink: 2;
            }

            img {
                max-width: 100%;
            }
        }
    }
}