// !1500PX
@media (max-width: 1500px) {

    // *Header
    h1,
    h2 {
        // text-shadow: -5px 0px 0 $canary,
        // text shadow to outline logo so it's legible against background images -- taken from https: //www.codesdope.com/blog/article/adding-outline-to-text-using-css/
        text-shadow: -1px 1px 2px $white,
            1px 1px 2px $white,
            1px -1px 0 $white,
            -1px -1px 0 $white;
    }

    // *Main
    .newThings .wrapper {
        display: flex !important;
        flex-direction: column;
        margin: 0 auto;

        .imgWrapper.dropShadowLeft {
            margin-top: 3%;
        }
    }

    .formWrapper {
        position: relative;
        width: 100vw;
        left: 0;
    }
}

// !1300PX 
@media (max-width: 1300px) {

    // *Header
    header {
        nav ul {
            margin-left: 0;
            margin: 0 auto;
            padding-left: 0;
        }
    }

    .mainHeader nav ul {
        background-color: $canary;
        margin: 0 auto;
    }

    .mainHeader .imgWrapper {
        display: none;
    }

    // *Main 
    .imgWrapper.dropShadowLeft {
        margin-top: 4%;
    }

    // *Blog
    article .imgWrapper {
        margin-top: 10%;
    }

    // *Drop Shadow
    .blogBody .dropShadowLeft {
        filter: drop-shadow(none);
    }
}


// !1200PX
@media (max-width: 1200px) {

    // *Blog
    article .imgWrapper {
        margin-top: 30%;
    }
}

// !1000PX
@media (max-width: 1000px) {

    // *Blog Aside
    .topWrapper {
        flex-direction: column;

        .blogAside {
            margin: 0 auto;
            width: 95vw;
            translate: -30px 30px;
            position: relative;
            z-index: 10;

            .imgWrapper {
                display: none;
            }
        }

        .textWrapper {
            position: relative;
        }
    }

    // *Blog Article
    article .imgWrapper {
        position: relative;
        z-index: 1;
        // opacity: .4;
    }

    .bottomWrapper {
        margin: 0 2%;
    }

}

// !800PX
@media (max-width: 800px) {

    // *Header

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 3rem;
    }

    // *Main
    .profile .wrapper {
        flex-direction: column;
    }

    // *Contact
    .contactBody {
        .contactForm {
            grid-template-areas:
                "nameInput"
                "email"
                "comment"
                "button";

            input {
                width: 90vw;
            }
        }
    }

    // *Blog
    .blogBody {
        .commentForm {
            grid-template-areas:
                "nameInput"
                "email"
                "comment"
                "button";

            input {
                width: 90vw
            }
        }
    }
}

// !680px
@media (max-width: 680px) {
    h1 {
        font-size: 4rem;
    }

    // *Main
    .links .wrapper {
        display: flex !important;
        flex-direction: column;

        .linkWrapper {
            width: 100vw;
        }
    }

    .gallery .wrapper {
        flex-direction: column;
        align-content: center;

        .imgWrapper {
            margin: 0 auto;
        }
    }
}


// !500PX
@media (max-width: 500px) {

    // *Header

    h1 {
        font-size: 3rem;
    }

    //this isnt dry but formatting it any other way I tried didn't apply the font size change so 🤷‍♀️
    .blogHeader nav ul a,
    .contactHeader nav ul a,
    .mainHeader nav ul a {
        font-size: 1rem;
    }

    header {

        nav ul {
            background-color: $canary;
        }



        h2 {
            font-size: 2.5rem;
            // z-index: 20;
        }


        .h2Wrapper {
            background-color: $ice;
            width: fit-content;
            margin: 0 auto;
            border-radius: 4px;
            position: relative;
            // z-index: 30;
        }
    }

    h4 {
        font-size: 1.2rem;
    }



    // *Blog

    .blogAside {
        position: relative;
        padding-bottom: 10%;
    }

    .blogArticle {

        .imgWrapper {
            opacity: 0;
        }

        .textWrapper {
            margin-top: 20%;
        }
    }

    .comment {
        flex-direction: column;

        p {
            margin: 0 auto;
        }
    }

    // *Contact
    .info {
        padding-top: 20%;
    }
}


// !400PX
@media (max-width: 400px) {


    // *Header

    h1 {
        font-size: 2.5rem;
    }

    .blogHeader nav ul a,
    .contactHeader nav ul a,
    .mainHeader nav ul a {
        font-size: .7rem;
    }

    // *Main

    .about {
        margin-bottom: 4%;
    }

    .newThings .imgWrapper {
        display: none;
    }

    .newThings {
        // margin-top: 4%;
        margin-bottom: 4%;
    }

    // *Blog

    .blogAside {
        padding-top: 15%;
        // padding-left: 15%;
    }

    .blogArticle {
        padding-left: 5%;
    }

    // *Contact
    .info {
        padding-top: 70%;
        // width: 90vw;
        // padding-left: 15%;
    }
}